<%= form_with(model: house) do |form| %>
  <% if house.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, "Titulo de la casa", class:"form-label fs-3" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Casa..."%>
  </div>

  <div>
    <%= form.label :description, "Descripcion de la casa", class:"form-label fs-3" %>
    <%= form.rich_text_area :description, class: "form-control dashboard__area "%>
  </div>

  <div>
    <%= form.label :price, "Agrega el precio de la casa", class: "form-label fs-3" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div>
    <%= form.label :image, "Agrega una imagen de muestra para la casa", class: "form-label fs-3 my-3" %>
    <%= form.file_field :image, class: "form-control form-control-lg" %>
  </div>

  <div>
    <%= form.label :pictures, "Imagenes de la casa", class: "form-label fs-3 my-3" %>
    <%= form.file_field :pictures, multiple: true, class: "form-control form-control-lg" %>
  </div>


  <%= form.submit 'Crear', class: "btn btn-primary mt-4 w-100" %>
<% end %>
