<!-- Modal update house -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: house) do |form| %>
          <% if house.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

              <ul>
                <% house.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= form.label :title, "Titulo de la casa", class:"form-label fs-3" %>
            <%= form.text_field :title, class: "form-control", placeholder: "Casa..."%>
          </div>

          <div>
            <%= form.label :description, "Descripcion de la casa", class:"form-label fs-3" %>
            <%= form.rich_text_area :description, class: "form-control dashboard__area "%>
          </div>
          <%= form.submit 'Modificar Casa', class: "btn btn-primary mt-4 w-100" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

