<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <%= render 'layouts/flash' %>
  <%= link_to 'CBC ADMIN', admin_dashboard_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3"%>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <input
    class="form-control form-control-dark w-100"
    type="text"
    placeholder="CONTROLA TU PAGINA"
    aria-label="Buscar"
    disabled
  />
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <%= link_to 'Cerrar sesión', destroy_admin_session_path, class: "nav-link px-3"%>
    </div>
  </div>
</header>
<div class="container-fluid dashboard" data-controller="client">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse dashboard__nav"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column gap-5">
          <li class="nav-item">
          <%= link_to admin_dashboard_path, class:"nav-link #{ 'active' if current_page?(admin_dashboard_path)}" do %>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-home"
                aria-hidden="true"
              >
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
              Dashboard
          <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-file"
                aria-hidden="true"
              >
                <path
                  d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"
                ></path>
                <polyline points="13 2 13 9 20 9"></polyline>
              </svg>
              Citas agendadas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-action="click->client#createHouses">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-shopping-cart"
                aria-hidden="true"
              >
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path
                  d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
                ></path>
              </svg>
              Casas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-action="click->client#showUsers">
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-users"
                  aria-hidden="true"
                >
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
              Clientes Registrados
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <section id="home-metrics">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Bienvenido, <%= current_admin.email %></h1>
        </div>
        <div class="container-fluid">
          <h2>Usuarios creados</h2>
        </div>
        <%= line_chart User.group_by_day(:created_at).count %>
        <div class="container-fluid">
          <h2>Casas creadas</h2>
        </div>
        <%= pie_chart House.group_by_day(:created_at).count %>
      </section>
      <%= render 'pages/users_admin' %>
      <%= render 'pages/houses_admin' %>
    </main>
  </div>
</div>
