<%# MOBILE %>
<nav class="navbar navbar-dark bg-dark d-lg-none">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag('cbc_logo.jpg', size: 50, class: "img-fluid rounded-circle")%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
        <div class="offcanvas-body">
          <% if !current_user %>  
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <%= link_to "Inicio", root_path, class: "nav-link #{ 'active' if current_page?(root_path)}"%>
              </li>
              <li class="nav-item">
                <%= link_to "Iniciar Sesion", new_user_session_path, class: "nav-link #{ 'active' if current_page?(new_user_session_path)}"%>
              </li>
              <li class="nav-item">
                <%= link_to "Registrarse", new_user_registration_path, class: "nav-link #{ 'active' if current_page?(new_user_registration_path)}"%>
              </li>
          </ul>
          <% else %>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <%= link_to "Inicio", root_path, class: "nav-link #{ 'active' if current_page?(root_path)}"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Ver casas', houses_path, class: "nav-link #{ 'active' if current_page?(houses_path)}"%>
              </li>
              <li class="nav-item">
                <%= link_to "Cerrar Sesion", destroy_user_session_path, class: "nav-link" %>
              </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
          <% end %>
        </div>
    </div>
  </div>
</nav>

<%# DESK %>
<nav class="navbar d-none d-lg-block">
  <div class="navbar__content">
    <div class="navbar__content-link">
      <%= link_to root_path do %>
        <%= image_tag('cbc_logo.jpg', size: 50, class: "img-fluid rounded-circle")%>
      <% end %>
    </div>
    <div class="navbar__content-links">
      <%= link_to "Inicio", root_path, class: "nav-link fs-5 link #{ 'active' if current_page?(root_path)}  "%>
      <% if !current_user %>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link #{ 'active' if current_page?(new_user_session_path)} fs-5 link"%>
        <%= link_to "Registrarse", new_user_registration_path, class: "nav-link #{ 'active' if current_page?(new_user_registration_path)} fs-5 link"%>
      <% else %>
        <%= link_to 'Ver casas', houses_path, class: "nav-link #{ 'active' if current_page?(houses_path)} fs-5 link"%>
        <%= link_to "Cerrar Sesion", destroy_user_session_path, class: "nav-link link fs-5" %>
        </div>
        <div class="navbar__content-form">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      <% end %>
  </div>
</nav>
